html,
body,
ul,
li {
    margin: 0; padding: 0;
}

body {
    background: #1F3A93;
}

#viewport {
    width: 500px; height: 500px; background: #fff; margin: 100px auto; position: relative; border-radius: 100%;
}

.target {
    width: 200px; height: 200px; background: #CF000F; position: absolute; left: 150px; top: 150px; border-radius: 100%; cursor: pointer;

    &.static {
        z-index: 10;
    }

    &.pan {
        z-index: 30; background: #f00; top: 100px;
    }
}